{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-4 offset-4">
        <div class="card" style="padding: 10px;" >
          <h1>{{ object.title|title }}</h1>
          <img src="{{ object.thumbnail.url }}" alt="..." class="card-img-top">
          <hr>
          <div style="padding: 10px;">
            <span><i class="fas fa-comments ml-2"></i> {{ object.get_comment_count }}</span>
            <span><i class="fas fa-eye ml-2"></i> {{ object.get_view_count }}</span>
            <span><i class="fas fa-thumbs-up ml-2"></i> {{ object.get_like_count }}</span>
            <span class="float-right" >Posted {{ object.publish_date|timesince }} ago</span>
          </div>
          <hr>
          <div>
            <p>{{ object.content }}</p>
          </div>
          <hr>
          <div>
            <h4>Enjoy this post? Give it a like</h4>
            <a href="{{ object.get_like_url }}" class="text-muted">
              <i class="fas fa-thumbs-up fa-lg"></i>{{ object.get_like_count }}
            </a>
            <hr>
              {% if request.user.is_authenticated %}
                      <hr>
                  <h5>Comments</h5>
                  {% for comment in object.comments %}
                        <div>
                            <p>{{ comment.content }}</p>
                            <small>{{ comment.timestamp|timesince }} ago</small>
                        </div>
                  {% endfor %}
                  <h4>Leave a comment below</h4>
                <form method="POST" >
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button  class="btn btn-primary" type="submit">Comment</button>
                </form>
              {% else %}
                      <hr>
                  <h5>Comments</h5>
                  {% for comment in object.comments %}
                        <div>
                            <p>{{ comment.content }}</p>
                            <small>{{ comment.timestamp|timesince }} ago</small>
                        </div>
                  {% endfor %}
                <h4>Login to comment</h4>
                <a href="{% url 'account_login' %}" class="btn btn-primary btn-block">Login</a>
              {% endif %}
          </div>
        </div>
    </div>
  </div>
{% endblock content %}